/*use classes more than ids
element .class is more specific 
if member of the class with properties but just need to change one aspect than do an id in addition that
changes that one thing
style =" is even more specific"
specificity order: class then class id then id then style; Great notes!  One more change
*/

h1 {
	font-size: 30px; // percentage or by height or by pixels ... sometimes pixels or scale em is scaling 
	//measurement EM 
	font-family: cursive;
	color: #fff; //white fff black 000
}

.blueback {

text-decoration: none; 
background-color: blue;
font-size: 20pc;

}

a {
text-decoration: none; 
background-color: pink;
font-size: 20pc;

}
#morespecific {
color: #fff
background-color: yellow;

}

.hilight:hover {
	background-color: red;
}

img {
	position: fixed;
	top: 20px;
	left: 20px;
}
/*absolute = form top of page or fixed = stays in position or relative = moves from where it naturally falls
pecentage based on parent container on divs make sue if using pecentage to container that cotainer is defined
margin: auto; is something that can auto center. 
the box model is content on inside 
at center is content and outside that is "padding" and outside that is "border" and outside that is "margin"
*/

